*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


body{
    height:100vh;
    width: auto;
    background-color:#ffd780;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0%;
    padding: 0%;
}

header{
    height: 6%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0%;
    margin: 0%;
    
}

h1{
    font-size: small;
    font-style: italic;
    color: #fec54a;
    margin: 0%;
    padding: 0%;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h2{
    font-size: 5px;
    font-style: italic;
    font-weight: 100;
    margin: 0%;
    padding: 0%;
    color: #fec54a;
}


#container{
    width: 100%;
    height: 85%;
    margin-top: 3px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cuadro{
    height: 45%;
    width: 100%;
    margin: 0%;
    margin-bottom: 5px;
    padding: 0%;
    box-shadow: 0px 1px 17px 14px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 1px 17px 14px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 17px 14px rgba(0,0,0,0.75);
}

#texto{
    height: 53%;
    width: 90%;
    margin: 0;
    padding: 0%;
    box-shadow: 0px 18px 39px 2px rgba(0,0,0,0.8);
-webkit-box-shadow: 0px 18px 39px 2px rgba(0,0,0,0.8);
-moz-box-shadow: 0px 18px 39px 2px rgba(0,0,0,0.8);
}

footer{
    height: 6%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0%;
    padding: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0%;
}

footer a{
    font-size: small;
    font-weight: bold;
    text-decoration: none;
    margin-left: 2px;
    color: #fec54a;
    

}

footer a:hover{
    color: #fff;
}

#img_instagram{
    height: 20px;
    width: 20px;

}
/*
    
    box-shadow: 0px -1px 18px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px -1px 18px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -1px 18px 0px rgba(0,0,0,0.75);
    */